name: Push action

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.9

      - name: Setup environment
        run: |
          python -m pip install -U pip poetry
          poetry --version
          poetry check --no-interaction
      
      - name: Install dependencies
        run: |
          poetry check --no-interaction --no-root
          poetry --version
          poetry install
      
      - name: Lint
        run: |
          poetry check --no-interaction --no-root
          make lint
      
      - name: Test
        run: |
          poetry check --no-interaction --no-root
          make tests



